*{
    margin:0;
    padding:0
}
body{
    background: #e7cbe0;

}
main{
    line-height:40px;
}
main p{
    font-size:1.5rem;
    text-align:center;
    padding-top:15px;
}
 header span{
    position:relative;
    top:15px;
  }
  header{
    background: rgba(218, 162, 165,0.8);
    padding-left:2em;

  }

  header h1{
    border:2px solid black;
    width:3em;
    border-radius:50%;
    height:2em;
    padding-top:10px;
    padding-left: 50px;

  }
h2{
 font-size:2em;
 text-align:center;
 padding-top:10px;
}
.wrap{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:60px;

}
.wrap div  {
     margin-left:1em;
    margin-top:3em;
     border:2px solid gray;
    padding-bottom:20px;
    justify-items:start;
    border-radius:10px;
    transition:45q0ms all ease-in-out;

}
.wrap div:hover{
    transform: translate(5px,-20px);

}
.title{
    padding-top:-2em;
    margin-bottom:3em;
    background-color: rgba(218, 162, 165,0.8);
    display:flex;
    align-content: center;

}
h2{
    margin-top: -1em;
    margin-bottom: 1em;

}

button{
    margin-left:13em;
    background: #eb7b62;
    border-radius:10px;
    padding:10px;

}
button a {
    text-decoration:none;
    color:white;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    margin-top:-2em;
    margin-left:20em;
   
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left:6em;
    font-size:1.3rem;


  }
  .titles{
    position:relative;
    padding-top:20px;
  }
  .titles img{
    width:7em;
    height:7em;
    position:absolute;
   top:6em;
   left:1em;
   border-radius:6px;
  }
.titles h3{
    text-align:center;
    text-indent: 5px;
    word-wrap:break-word;
}
.odd{
     margin-top:-2em;
}
.titles p{
    font-size:20px;
    margin-bottom:1em;
    margin-left:5em;
    line-height: 15px;
    font-style:italic;
}
footer{
    height:5em;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),#ccc;
    margin-top:2em;
    text-align:center;
    padding-top:2em;
}

